<li class="gear-card item power" data-item-id="{{_id}}">
  <header class="flexrow card-header">
    <div class="item-image" style="background-image: url('{{img}}')"></div>
    <h4 class="item-name">{{name}}</h4>
    <div class="item-controls">
      {{#if owner}}
      <a class="item-control item-edit" title='{{localize "SWADE.ItemEdit"}}'
        ><i class="fas fa-edit"></i
      ></a>
      <a
        class="item-control item-delete"
        title='{{localize "SWADE.ItemDelete"}}'
        ><i class="fas fa-trash"></i
      ></a>
      {{/if}}
    </div>
  </header>
  <div class="card-content collapsed" style="display: none;">
    {{#if data.damage}}
    <div>
      <a class="damage-roll" title="{{localize 'SWADE.Roll'}}"
        >{{localize "SWADE.Dmg"}}: {{data.damage}}</a
      >
    </div>
    {{/if}} {{#if data.pp}}
    <div>{{localize "SWADE.PP"}}: {{data.pp}}</div>
    {{/if}} {{#if data.range}}
    <div>{{localize "SWADE.Rng"}}: {{data.range}}</div>
    {{/if}} {{#if data.duration}}
    <div class="flexrow ellipsize">
      <div>{{localize "SWADE.Dur"}}: {{data.duration}}</div>
    </div>
    {{/if}}
  </div>
</li>
