<section class="driver-box">
  <strong>{{localize "SWADE.Operator"}}</strong>
  <a class="reset-driver"><i class="fas fa-trash"></i></a>
  <div id="driverImageContainer">
    <img src="{{driver.img}}" alt="{{driver.name}}" class="driver-img" />
  </div>
</section>
<section class="vitals flexrow">
  <div class="vitals-container">
    <div>
      <input
        type="text"
        value="{{data.wounds.value}}"
        data-dtype="Number"
        class="wound-input"
        maxlength="4"
        size="4"
        class="vitals-value"
      />
      <span class="vital-name">{{localize "SWADE.Wounds"}}</span>
      <input
        type="range"
        name="data.wounds.value"
        min="0"
        max="{{data.wounds.max}}"
        class="slider wound-slider"
        value="{{data.wounds.value}}"
        data-dtype="Number"
        style="direction: ltr;"
      />
    </div>
    <button type="button" id="maneuverCheck">
      {{localize "SWADE.ManCheck"}}
    </button>
    {{#if settingrules.modSlots}}
    <div id="modBox">
      <div class="bar-container">
        <span class="text"
          >{{mods.used}}/{{data.maxMods}} {{localize "SWADE.Mods"}}</span
        >
        <div class="bar" style="width: {{mods.percentage}}%;"></div>
      </div>
    </div>
    {{/if}}
  </div>
</section>
<section id="crew">
  <label>Required Crew</label>
  <div class="crew-input">
    <input
      type="text"
      value="{{data.crew.required.value}}"
      name="data.crew.required.value"
    />
    <span>/</span>
    <input
      type="text"
      value="{{data.crew.required.max}}"
      name="data.crew.required.max"
    />
  </div>
  <label>Optional Passengers</label>
  <div class="crew-input">
    <input
      type="text"
      value="{{data.crew.optional.value}}"
      name="data.crew.optional.value"
    />
    <span>/</span>
    <input
      type="text"
      value="{{data.crew.optional.max}}"
      name="data.crew.optional.max"
    />
  </div>
</section>
