.swade.sheet {
  .window-content {
    background: $light-pastel-blue;
  }

  // Content Tabs
  .tabs {
    border-bottom: 1px solid;

    .item {
      border: 1px solid $charcoal;
      background: $lapis-lazuli;
      border-radius: 4px 4px 0 0;
      margin: 0 5px -1px;
      padding: 4px;
      color: $light-pastel-blue;
      &:hover,
      &:focus {
        background: $charcoal;
        text-shadow: none;
      }
      &.active {
        background: $charcoal;
        border-bottom: 0;
        text-shadow: none;
      }
    }
  }

  input[type='checkbox'] {
    display: none;

    & + label {
      position: relative;

      &::before {
        width: 14px;
        height: 14px;
        border: 2px solid #999;
        border-radius: 4px;
        display: block;
        content: '';
        float: left;
        margin-right: 5px;
      }
    }

    &:checked + label {
      &::after {
        width: 14px;
        height: 9px;
        display: block;
        border-bottom: 5px solid;
        border-left: 5px solid;
        content: '';
        position: absolute;
        top: -3px;
        transform: rotate(-45deg);
        color: #2d3748;
      }

      &:hover::after {
        color: #5b7094;
      }
    }
  }

  input[type='text'] {
    @extend %standalone-input-field;
  }
}

.card-dialog {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .radio-card {
    min-width: 125px;
    max-width: 125px;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 5px;
    img {
      height: 100px;
      display: block;
      margin: auto;
    }
    /* HIDE RADIO */
    [type='radio'] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* IMAGE STYLES */
    [type='radio'] + img {
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 5px red;
      }
    }

    /* CHECKED STYLES */
    [type='radio']:checked + img {
      box-shadow: 0 0 5px red;
    }
  }
}

.sbt {
  &::before {
    content: 'S';
  }
}
.mbt {
  &::before {
    content: 'M';
  }
}
.lbt {
  &::before {
    content: 'L';
  }
}
.cone {
  &::before {
    content: 'C';
  }
}
