.swade.sheet.actor.character {
  min-height: 768px;
  min-width: 600px;
  .profile-img-container {
    width: 200px;
    max-width: 200px;
    height: 200px;
    margin: 2px;
  }

  .vitals {
    height: 72px;
    .bennies {
      flex-grow: 0;
      flex-basis: 100px;
      padding: 0 10px;
      i {
        padding-top: 24px;
      }
      .benny-tracker {
        input {
          @extend %standalone-input-field;
          text-align: center;
          border-radius: 0;
        }
        .bennies-current {
          font-size: 26px;
          height: 35px;
          border-bottom: $decorative-line;
        }
        .bennies-max {
          height: 20px;
        }
      }
    }
  }

  // Summary
  .attributes-container {
    .attributes {
      margin: 5px 0;
    }
    .secondary {
      flex-grow: 0;
      flex-basis: 250px;
    }
  }

  .skills {
    flex-basis: 250px;
    flex-grow: 0;
    max-width: 288px;
    .skills-list {
      height: 350px;
      overflow: auto;
      .skill:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .skill-label {
        flex: 2;
        overflow: hidden;
        i {
          display: none;
        }
        &:hover {
          i {
            display: inline-block;
          }
        }
      }
      .skill-value {
        flex: 1;
      }
      .skill-attribute {
        flex-grow: 0;
        flex-basis: 25px;
      }
      li {
        > * {
          margin: 0 3px;
          min-height: 28px;
          line-height: 28px;
        }
        a.attribute-control {
          border: none;
        }
      }
    }
  }

  .quickaccess-list {
    height: 350px;
  }

  .gear {
    padding: 2px;
    .gear-list {
      .gear-card {
        margin: 2px;
        border-top-left-radius: 4px;
        .card-header .item-controls {
          display: none;
        }
      }
    }
  }

  // Edges
  .edges {
    .edges-hindrances-list {
      margin: 5px 0 0;
      padding: 2px;
      .hindrances {
        height: 120px;
      }
      .items-list {
        overflow: auto;
        list-style: none;
        margin: 0 0 7px;
        padding: 0;
        .item {
          height: 30px;
          line-height: 24px;
          padding: 3px 0;
          img {
            flex: 0 0 24px;
            margin-right: 5px;
            border: none;
          }
          &:nth-child(even) {
            background: rgba(0, 0, 0, 0.1);
          }
        }
        .item-name {
          margin: 0;
        }
        .item-controls {
          flex: 0 0 36px;
        }
      }
    }

    .description {
      margin: 5px 0;
      padding: 2px;
      .description-value {
        overflow: auto;
        padding: 5px;
        margin: 0;
      }
    }
  }
  .powers {
    margin: 3px 0;
    .header-field-add {
      line-height: 24px;
      margin-left: 5px;
    }
    .arcane-tabs {
      display: flex;
      .arcane {
        cursor: pointer;
        width: 90px;
        height: 24px;
        text-align: center;
        line-height: 22px;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.2);
        &.active {
          background: rgba(0, 0, 0, 0.2);
        }
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
    .power-counter {
      display: none;
      input {
        width: 40px;
        color: white;
        font-weight: bold;
      }
      &.active {
        display: block;
      }
    }
    .powers-list {
      display: flex;
      flex-direction: row;
      align-content: start;
      flex-wrap: wrap;
      overflow: auto;
      .power {
        display: none;
        margin: 2px;
        flex-grow: 0;
        flex-basis: calc(50% - 4px);
        height: calc(50% - 4px);
        border: $decorative-line;
        border-top-left-radius: 4px;
        border-radius: 2px;
        &.active {
          display: block;
        }
        .power-header {
          background: rgba(0, 0, 0, 0.05);
          border-bottom: $decorative-line;
          h4 {
            margin: 0;
            padding: 5px;
            white-space: nowrap;
            overflow: hidden;
          }
          .item-image {
            flex-grow: 0;
            flex-basis: 25px;
            background-size: contain;
          }
          .item-controls {
            padding: 5px;
            flex-grow: 0;
            flex-basis: 45px;
            color: black;
            .item-unequipped {
              color: rgba(0, 0, 0, 0.2);
            }
          }
        }
        .power-content {
          margin: 0 3px;
          line-height: 24px;
          padding: 5px;
          height: calc(100% - 30px);
          overflow-y: auto;
          .power-details {
            font-size: 12px;
            line-height: 12px;
            font-weight: 600;
            text-indent: 5px;
          }
          .power-description {
            line-height: 15px;
          }
        }
      }
    }
  }
}
