.sidebar-tab .directory-list .directory-item {
  .wildcard-icon {
    width: 32px;
    height: 32px;
    object-fit: scale-down;
    object-position: center;
    margin: 0;
    margin-right: 2px;
    vertical-align: middle;
  }
}

#players ol li.player .bennies-count {
  flex-grow: 0;
  flex-basis: 25px;
  background: url('assets/icons/plain-circle.svg') no-repeat center;
  color: black;
  font-weight: 900;
  overflow: hidden;
  font-size: 18px;
  text-align: center;
  text-shadow: 0 0 5px white;
  &.bennies-gm {
    cursor: pointer;
    &:hover {
      filter: invert(100);
    }
  }
}
