<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header.html"}}
  <main class="sheet-body flexrow">
    <section class="item-stats">
      <header class="header-field">
        <span>{{localize "SWADE.Details"}}</span>
      </header>
      <div class="form-group">
        <input
          type="checkbox"
          name="data.isVehicular"
          id="data.isVehicular"
          {{checked
          item.data.isVehicular}}
          data-dtype="Boolean"
        />
        <label for="data.isVehicular">Vehicular Weapon</label>
      </div>
      <div class="form-group">
        <input
          type="checkbox"
          name="data.equipped"
          id="data.equipped"
          {{checked
          item.data.equipped}}
          data-dtype="Boolean"
        />
        <label for="data.equipped">{{localize "SWADE.Equipped"}}</label>
      </div>
      <div class="form-group">
        <label for="data.damage">{{localize "SWADE.Dmg"}}</label>
        <input
          name="data.damage"
          type="text"
          value="{{item.data.damage}}"
          placeholder="{{localize 'SWADE.Dmg'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.range">{{localize "SWADE.Rng"}}</label>
        <input
          name="data.range"
          type="text"
          value="{{item.data.range}}"
          placeholder="{{localize 'SWADE.Rng'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.rof">{{localize "SWADE.RoF"}}</label>
        <input
          name="data.rof"
          type="text"
          value="{{item.data.rof}}"
          placeholder="{{localize 'SWADE.RoF'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.shots">{{localize "SWADE.Mag"}}</label>
        <input
          name="data.shots"
          type="text"
          value="{{item.data.shots}}"
          placeholder="{{localize 'SWADE.Mag'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.ap">{{localize "SWADE.Ap"}}</label>
        <input
          name="data.ap"
          type="text"
          value="{{item.data.ap}}"
          placeholder="{{localize 'SWADE.Ap'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.price">{{localize "SWADE.Price"}}</label>
        <input
          name="data.price"
          type="text"
          value="{{item.data.price}}"
          placeholder="{{localize 'SWADE.Price'}}"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label for="data.weight">{{localize "SWADE.Weight"}}</label>
        <input
          name="data.weight"
          type="text"
          value="{{item.data.weight}}"
          placeholder="{{localize 'SWADE.Weight'}}"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label for="data.quantity">{{localize "SWADE.Quantity"}}</label>
        <input
          name="data.quantity"
          type="text"
          value="{{item.data.quantity}}"
          placeholder="{{localize 'SWADE.Quantity'}}"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label for="data.minStr">{{localize "SWADE.MinStrShort"}}</label>
        <input
          name="data.minStr"
          type="text"
          value="{{item.data.minStr}}"
          placeholder="{{localize 'SWADE.MinStr'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.notes">{{localize "SWADE.Notes"}}</label>
        <input
          type="text"
          name="data.notes"
          value="{{item.data.notes}}"
          placeholder="{{localize 'SWADE.Notes'}}"
          data-dtype="String"
        />
      </div>
      {{#if item.data.isVehicular}} {{#if settingrules.modSlots}}
      <div class="form-group">
        <label for="data.mods">{{localize "SWADE.ModSlots"}}</label>
        <input
          name="data.mods"
          type="text"
          value="{{item.data.mods}}"
          placeholder="{{localize 'SWADE.ModSlots'}}"
          data-dtype="Number"
        />
      </div>
      {{/if}} {{/if}}
    </section>
    <section>
      {{> "systems/swade/templates/items/partials/description.html"}}
    </section>
  </main>
</form>
